<!DOCTYPE html>
<html>
<style>
h1 {text-align: center; color: white;}
p {text-align: center; color: white;}
</style>
<body style="background-color: #5dade2">
<h1>Welcome to Github</h1>
<p>Welcome to Git and Github Workshop</p>
<p>by CS chapter IEEE NTUA SB.</p>
</body>
</html>